<div class="container">
    <div class="text-center">
        <button (click)="getCountries()" class="me-5">Get Countries</button>
        <button (click)="getStatus()">Get Status</button>
    </div>
    <div class="section text-center mt-5" *ngIf = "section ==='country'">
        <div class="country" *ngFor = "let country of countriesObservable | async "> {{ country}}</div>
    </div>
    <div class="section text-center mt-5" *ngIf = "section ==='status'">
        <div class="status">
            <span *ngIf ="statusPromise | async" class="text-success">Online</span>
            <span *ngIf ="!(statusPromise | async)" class="text-danger" >Offline</span>

        </div>
    </div>
</div>
