.btn-style{
    color : white;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    justify-content: center;
}

.btn-purple{
    background-color: purple;

}

.btn-green{
    background-color: green;
}

.btn-cyan
{
    background-color: cyan;
}