<h1 class="text-danger text-center">Advanced Angular Concepts</h1>
<!-- <app-custom-directive></app-custom-directive>
<app-header></app-header> -->
<!-- <app-observable-vpromise></app-observable-vpromise> -->
<!-- <app-fork-join-example></app-fork-join-example> -->
<!-- <app-http-interceptor></app-http-interceptor> -->
<!-- <app-activated-route-v-activated-route-snapshot></app-activated-route-v-activated-route-snapshot> -->
<!-- <app-content-projection>
    <h1>This message is sent from the parent component i.e. App Component</h1>
</app-content-projection> -->

<!-- <app-content-projection>
    <h2 firstContent >This is first html of multi-slot content projection</h2>
    <h2 class=" text-danger SecondContent">This is second html of multi-slot content projection</h2>
</app-content-projection> -->
<router-outlet></router-outlet>
